.suggestion-host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.text {
  color: colors.$grey;
  font-size: 14px;
  line-height: 24px;
  margin: auto;
  max-width: 700px;
  text-align: center;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  & strong {
    color: colors.$black;
    font-weight: 700;
  }

  & a {
    color: colors.$turquoise;
    text-decoration: none;
    font-weight: 700;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  &.success,
  &.error {
    border: 3px solid colors.$light-turquoise;
    border-radius: 0.5rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    width: 100%;
  }

  &.error {
    border-color: colors.$pink;
  }
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;

  @media (max-width: 315px) {
    flex-direction: column;
  }

  & :not(:first-child) {
    margin-left: 1rem;

    @media (max-width: 315px) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  & fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  & input {
    background-color: colors.$white;
    border-radius: 3px;
    border: 1px solid colors.$medium-grey;
    box-sizing: border-box;
    color: colors.$grey;
    font-size: 16px;
    height: 48px;
    min-width: 360px;
    padding: 0 25px;
    transition: all ease 0.3s;

    @media (max-width: 510px) {
      max-width: 250px;
      min-width: 0;
    }

    @media (max-width: 459px) {
      max-width: 200px;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: colors.$grey;
      color: colors.$black;
    }
  }

  & button {
    align-items: center;
    background-color: colors.$light-turquoise;
    border-radius: 6px;
    border: 2px solid colors.$turquoise;
    color: colors.$black;
    display: flex;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    padding: 15px 25px;
    text-align: center;
    transition: all ease 0.3s;

    @media (max-width: 768px) {
      font-size: 13px;
    }

    &:hover {
      background-color: colors.$turquoise;
      color: colors.$white;
    }

    &:disabled,
    &[disabled] {
      background-color: colors.$light-grey;
      border-color: colors.$grey;
      color: colors.$grey;
    }
  }
}
