$black: #1c2541;
$grey: #5e6472;
$medium-grey: #c4c4c4;
$light-grey: #f2f2f2;
$light-turquoise: #b2f7efff;
$turquoise: #3cd7c9;
$turquoise-dark: #00c2ff;
$light-blue: #7bdff2;
$white: #ffffff;
$pink: #f2b5d4;
$red: #ff0404;
